/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
  display: flex;
}
adm-root {
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  position: relative;
  flex: 1 1 auto;
}

body:not(.is-mobile) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar:hover {
    background-color: red !important;
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.37);
    border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.54);
    border-radius: 12px;
  }
}

.ps {
  position: relative;

  &:hover .ps__rail-x {
    background-color: #eee;
    opacity: 0.9;
    border-top: 0.5px solid #c9c9c9;
  }
  &:hover .ps__rail-x,
  .ps__rail-x {
    z-index: 99999;
    height: 9px;
    padding-top: 1px;
    padding-bottom: 1px;

    &:hover,
    &:focus,
    &.ps--clicking {
      border-top: 0.5px solid #c9c9c9;
    }
    // opacity: 1;

    .ps__thumb-x {
      height: 6.5px;
      border-radius: unset;
      bottom: unset;
      cursor: pointer;
    }
  }

  &:hover .ps__rail-y {
    background-color: #eee;
    opacity: 0.9;
    border-left: 0.5px solid #c9c9c9;
  }
  &:hover .ps__rail-y,
  .ps__rail-y {
    z-index: 99999;
    width: 9px;
    padding-left: 1px;
    padding-right: 1px;

    &:hover,
    &:focus,
    &.ps--clicking {
      border-left: 0.5px solid #c9c9c9;
    }
    // opacity: 1;

    .ps__thumb-y {
      width: 6.5px;
      border-radius: unset;
      right: unset;
      cursor: pointer;
    }
  }
}
p-table.no-outter-border {
  thead {
    tr {
      &:first-child {
        th {
          border-top: 0 none !important;
        }
      }
      th {
        &:first-child {
          border-left: 0 none !important;
        }
        &:last-child {
          border-right: 0 none !important;
        }
      }
    }
  }
  table {
    tbody {
      tr {
        &:first-child {
          td {
            border-top: 0 none !important;
          }
        }
        &:last-child {
          td {
            border-bottom: 0 none !important;
          }
        }
      }
      td {
        &:first-child {
          border-left: 0 none !important;
        }
        &:last-child {
          border-right: 0 none !important;
        }
      }
    }

    tfoot {
      tr {
        &:last-child {
          td {
            border-bottom: 0 none !important;
          }
        }
        td {
          &:first-child {
            border-left: 0 none !important;
          }
          &:last-child {
            border-right: 0 none !important;
          }
        }
      }
    }
  }
}

@mixin guru-fill() {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  display: flex;
}

@mixin scrollable-prime-table() {
  @include guru-fill();
  .ui-table {
    @include guru-fill();
    .ui-table-scrollable-wrapper {
      @include guru-fill();
      .ui-table-scrollable-view {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-flex: 1;
        flex: 1 1 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        min-width: 0;
        .ui-table-scrollable-header {
          position: relative;
          border-bottom: 1px solid #c9c9c9;
          display: flex;
          flex: 0 0 auto;
          z-index: 4;
          min-height: 34px;
        }
        .ui-table-scrollable-body {
          position: relative;
          display: -webkit-box;
          display: flex;
          -webkit-box-flex: 1;
          flex: 1 1 0%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          overflow-x: hidden;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
        }
        .ui-table-scrollable-footer {
          // position: relative;
          border-bottom: 1px solid #c9c9c9;
          display: flex;
          flex: 0 0 auto;
          z-index: 4;
          min-height: 34px;
        }
      }
    }
  }
}
[guruscrollableprimetable] {
  @include guru-fill();
  p-table {
    @include scrollable-prime-table();
  }
}
p-table[guruscrollableprimetable] {
  @include scrollable-prime-table();
}

.fill {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  display: flex;
}
.prime-header {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  z-index: 4;
}
.prime-content {
  height: 100%;
}
.prime-footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  z-index: 4;
}
