<mat-sidenav-container fxFill>
  <mat-sidenav [opened]="true" *ngIf="sidebar.left" #navLeft class="guru-nav-left" position="start">
    <guru-sidebar [nav]="navLeft">
      <ng-container *ngTemplateOutlet="sidebar.left"> </ng-container>
    </guru-sidebar>
  </mat-sidenav>
  <mat-sidenav *ngIf="sidebar.right" #navRight class="guru-nav-right" position="end">
    <guru-sidebar [nav]="navRight">
      <ng-container *ngTemplateOutlet="sidebar.right"> </ng-container>
    </guru-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="container-guru">
    <ng-content select="guru-header"></ng-content>
    <ng-content select="guru-content"></ng-content>
    <ng-content select="guru-footer"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
