<guru-card #card (sidebar_left_event)="sidebar_left_event($event)" (sidebar_right_event)="sidebar_right_event($event)">
  <ng-template guru-sidebar="left" opened="true">
    <guru-header>
      <h1>Left</h1>
    </guru-header>
    <guru-content>
      <ul>
        <ng-template ngFor let-item [ngForOf]="items" let-i="index">
          <li>{{ item }}</li>
        </ng-template>
      </ul>
    </guru-content>
    <guru-footer></guru-footer>
  </ng-template>
  <ng-template guru-sidebar="right" opened="true">
    <guru-header>Right</guru-header>
    <guru-content>
      <ul>
        <ng-template ngFor let-item [ngForOf]="items" let-i="index">
          <li>{{ item }}</li>
        </ng-template>
      </ul>
    </guru-content>
    <guru-footer></guru-footer>
  </ng-template>
  <guru-header>
    <button mat-icon-button (click)="card.sidebar_left('toggle')">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button (click)="card.sidebar_right('toggle')">
      <mat-icon>menu</mat-icon>
    </button>
  </guru-header>
  <guru-content>
    <ng-content></ng-content>
  </guru-content>
  <guru-footer></guru-footer>
</guru-card>