<mat-sidenav-container fxFill>
  <mat-sidenav #navLeft class="nav-left-guru" position="start">
    <ng-content select="guru-sidebar[position=left]"></ng-content>
  </mat-sidenav>
  <mat-sidenav #navRight class="nav-right-guru" position="end">
    <ng-content select="guru-sidebar[position=right]"></ng-content>
  </mat-sidenav>
  <mat-sidenav-content class="container-guru">
    <ng-content select="guru-header"></ng-content>
    <ng-content select="guru-content"></ng-content>
    <ng-content select="guru-footer"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
